html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
/* Nvbr */
.nvlink:hover { 
	 background-color: rgb(81, 81, 81) !important ;
	color: #fff !important;
  }

/* Font sizes nd weight */
.fs-12{
    font-size: 12px !important;
}
.fs-14{
	font-size: 14px !important;
}
.fs-11{
	font-size: 11px !important;	
}
.fnt-6{
	font-weight: 600;
}
.fs-18{
	font-size: 18px;
}

/* Buttons Styling */
.btn2{
	border: none !important;
	outline: #09A8C5 !important;
    color: #09a8c5 !important;
    border-radius: 5px !important; 
    cursor: pointer;
}
.btn1{
	background-color: #09A8C5 !important;
}


/* Background Styling */
.bg1{
    background-color: #09A8C5 !important;
}
.bg2{
	background-color: #DADADA !important; 
}
.bg3{
	background-color: #ededed;
}
.bg4{
	background-color: #708a8b !important;
}
.bg5{
	background-color: #d3e0b5 !important;
}


/* navbr Styling */
.navbg{
	background-color: #09A8C5 !important;
}


/* Dshbord Styling */
.color-nv{
	color: #DADADA !important;
}
.color1{
	background-color: #09A8C54D;
}
.color2{
	background-color: #F3AA184D;
}
.color3{
	background-color: #5BD3664D;
}
.color4{
	background-color: #EA3D2F4D;
}
.chart{
    width:50%;
	max-width:200px;
}
.icon{
	font-size: 20px !important;
}


/* Request Styling */
.bid1{
	background-color: #DADADA; 
	/* border-radius: 5px; */
	 max-width: 18rem !important;
}
.cardwidth{
	max-width: 18rem;
}
.filter{
	background-color: #DADADA;
	border-radius: 2px ;
	border: 2px solid  #09A8C5;
	height: 5vh;
	color: #09A8C5;
	font-weight: 600;
	/* margin-top: -10px; */
	/* border-color:; */
}

.link{
	color: black;
	text-decoration: none;
}

/* notifiction Styling */
.delbtn{
	margin-top: -40px; 
	margin-right: 10px;
}
.btn2{
	border: none !important;
    outline: none !important;
    color: #09a8c5 !important;
    border-radius: 3px solid #09a8c5 !important;
}
/* Report Styling */
.contact-form{
	margin-left: 300px;
	/* margin-top: 50px; */
}
.formcon{
	width: 98.5% !important;
}
.con-title{
	margin-top: 50px;
}
@media (max-width: 600px) {
    .contact-form {
        align-items: left;
        justify-content: left;
        text-align: left;
		font-size: 12px;
		margin-left: 10px;
    }
	.formcon{
		width: 97% !important;
	}
	html,body{
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}
	.requestbid{
		margin-left: -10px !important;
		width: 17rem !important;
	}
}
@media (max-width: 820px){
	.issue-textre{
		width: 32vh !important;
	}
	.purch-text{
		margin-bottom: 100px !important;
	}
	.notifiction-text{
		margin-top: 50px !important;
	}
	.crd-bg{
		margin-top: 20px !important;
	}

}

/* Compny Profile Styling */
.line{
   /* width: 6.9cm;  */
   border:  black; 
   background-color: black; 
   opacity: 1;
}

/* Change Password Styling */
.passwordform{
	width: 50% !important;
	margin-top: 100px !important;
}
.passwordform-btn{
	justify-content: right;
	margin-right: -20px !important;
}

/* Request2 Stylin */
.bid-btns{
	margin-top: -10px;
}
.bid-detils{
	background-color: #DADADA;
}
.accord-tb{
	border: 1px solid #DADADA;
	width: 100%;
}

/* Submit Request2 Styling */
.drag-area label{
    border: none;
    outline: none;
    color: #09a8c5;
    border: 1px solid #09a8c5;
    border-radius: 5px;
    cursor: pointer;
  }

  .drag-area{
	outline-style: dotted; 
	width: 50% !important;
  }

  /* Purchseorder2 Styling */

  /* Receipt */
  .reciept-table{
	border: 1px solid #708a8b !important;
  }
  .ship-text{
	margin-left: 400px;
  }
  .vl{
	border-left: 3px solid #DADADA;  
	height: 350px; 
	margin-top: -10px;
  }
  .vl1{
	height: 10px;
  }
  .vl2{
	border-left: 3px solid #DADADA;  
	height: 300px; 
	margin-left: 80px;
	margin-bottom: 50px !important;
  }
  .wi-40{
	width: 40%;
  }
  .wi-30{
	width: 30%;
  }
  .wi-10{
	width: 10%;
  }
  .comment-table{
	height: 50vh; 
	width: 96% !important;
  }

  .comment-icon{
	font-size: 20px;
  }
  .download-tb{
	width: 96%;
  }
  .ups-text{
	margin-left: 70px;
  }
  .purch-text{
	margin-bottom: -10px;
  }
/* Modl Styling */
  .comment-modl{
	max-width: 50% !important;
  }
  .bckmodl-btn{
	border: none !important;
  }
  .selectpurchsemodl{
	width: 70% !important;
  }
.continue-btn{
	border: none !important;
	width: 30% !important;
}
.addcomment-modl{
	resize: none; 
	height: 20vh;
}
.color-green{
	color: #3ec94b ;
}

  /* Btns Styling */

.save-btn{
background-color: #01B913 !important;
width: 100%;
}
.del2-btn{
background-color: #EA3D2F !important;
width: 100%;
}
.view-btn{
background-color: #1565D8 !important;
width: 100%;
}

/* Issue Styling */
.issue-textre{
	min-height: 40vh !important; 
	resize:none;
}

/* horizontl line */
hr.wybiline {
	border-top: 3px dotted black !important;
	background-color: transparent;
	width: 90%;
  }

/* chrt */
.chrtpie{
    width: 70% !important
  }
  @media (max-width:600px) {
    .chrtpie{
      width: 100% !important;
    }   
}
